@charset "UTF-8";
@font-face {
  font-family: "playfair";
  src: url(./font/PlayfairDisplay-MediumItalic.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "playfair";
  grid-column: 4/7;
  background-color: #592C1C;
  color: white;
}

.nav-item {
  margin-left: 100px;
}

.main {
  overflow: hidden;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  background-image: url(./imagenes/parallax.jpg);
  height: 93vh;
  background-size: cover;
  background-attachment: fixed;
}

.banner h1 {
  font-family: "playfair";
  font-size: 4rem;
  letter-spacing: 3px;
  color: white;
}

.banner p {
  font-family: "playfair";
  letter-spacing: 5px;
  color: white;
}

.dc {
  font-size: 2rem;
  text-shadow: rgba(0, 0, 0, 0.8) 0 0 8px;
}

.logo {
  font-family: "playfair";
  color: #592C1C;
  font-size: 3rem;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paginas {
  background-color: white;
  font-family: "playfair";
  font-size: 3rem;
  font-weight: 900;
  color: #592C1C;
  /* display: flex; */
  justify-content: center;
  text-decoration: underline;
}

.card {
  background-color: white;
  color: #592C1C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  border-radius: 10px;
}

.imagen {
  width: 21vw;
  height: 12vw;
  overflow: hidden;
  border-radius: 1px;
}

.imagen img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.title {
  background-color: white;
  font-family: "playfair";
  font-size: 3rem;
  font-weight: 910;
  color: #592C1C;
  text-decoration: underline;
}

.nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70vh;
  background-color: #592C1C;
  align-items: center;
  justify-items: center;
}

.nosotros__grid {
  padding: 2rem;
}

.nosotros h3 {
  background-color: #592C1C;
  color: white;
}

.nosotros p {
  font-size: 2rem;
  color: white;
}

.nosotros__imagen {
  height: 100%;
  width: 100%;
}

.nosotros img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

footer {
  margin: 1rem;
  font-size: 32px;
}

/* pag 1 */
.carta-title {
  font-family: "playfair";
  color: black;
}

.container mt-5 {
  background-color: #592C1C;
}

.carta h2 {
  background-color: #592C1C;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  align-items: center;
  text-decoration: underline;
}

/* pag 2 */
.encuentranos h1 {
  font-family: "playfair";
  text-decoration: underline;
}

.mapa {
  margin: 15px;
  height: 70vh;
  width: 70vw;
  /* width: 2rem;
  height: 2rem; */
}

.mapa-tamaño {
  width: 100%;
  height: 100%;
}

.footer h2 {
  font-family: "playfair";
  background-color: white;
  color: black;
}

/* pag 3 */
.fondocontact {
  background-image: url(./imagenes/contacto.jpg);
  background-size: 100% 100%;
  height: 90vh;
  background-attachment: fixed;
  margin: 0;
  font-family: monospace;
}

.fondocontact1 {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 258px 20px;
  box-sizing: border-box;
  border-radius: 7px;
}

.textcontact {
  color: #fff;
  text-align: center;
  margin: 0%;
  font-size: 30px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

@media (max-width: 300px) {
  .navbar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
  }
  .navbar .logo {
    height: 60px;
    width: 60px;
    grid-column: 2/3;
  }
  .navbar menu {
    grid-column: 4/7;
    display: flex;
  }
  .navbar ul li {
    margin-right: 3em;
    list-style: none;
  }
  .navbar ul li a {
    text-decoration: none;
    cursor: pointer;
  }
  .navbar .menu-bar {
    display: none;
  }
  .banner {
    height: 60px;
    width: 60px;
    grid-column: 2/3;
  }
  .card {
    grid-template-columns: 1fr;
    font-size: 1em;
    cursor: pointer;
  }
  .paginas {
    font-size: 1.2em;
  }
  .nosotros {
    grid-template-columns: 1fr;
  }
  .nosotros img {
    grid-template-columns: 1fr;
  }
  .redes {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 900px) {
  .banner > p {
    font-size: 1.5rem;
  }
  .nosotros {
    grid-template-columns: 1fr;
  }
  /* .nosotros img {
      grid-template-columns: 1fr;

  } */
}

/*# sourceMappingURL=style.css.map */
