@font-face {
    font-family: 'playfair';
    src: url(./font/PlayfairDisplay-MediumItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'playfair';
    grid-column: 4 / 7;
    background-color: #592C1C;
    color: white;
    
}
.main {
  overflow: hidden;
}
navbar {
    background-color: #EDCB54;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
  }

  .navbar-logo {
    font-family: 'playfair';
    font-size: 2.5rem;
    text-decoration: none;
    color: #592C1C;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
  }


  .navbar .menu {
    grid-column: 4 / 7;
    display: flex;
  }
  .navbar ul li {
    font-family: 'playfair';
    font-size: 1.5rem;
    color: #592C1C;
    margin-right: 8em;
    list-style: none;
  }
  
  .navbar ul li a {
    color: #592C1C;
  }

  .navbar a:hover {
    color: #592C1C;
  }
  .navbar .menu-bar {
    display: none;
  }


.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    background-image: url(./imagenes/parallax.jpg);
    height: 93vh;
    background-size: cover;
    background-attachment: fixed;
}



.banner h1{
   font-family:'playfair';
   font-size: 4rem;
   letter-spacing: 3px;
   color: white;

}

.banner p{

    letter-spacing: 5px;
    color: white;
}



.dc{
    font-size: 2rem;
    text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
}

.logo {
    font-family: 'playfair';
    color: #592C1C;
    font-size: 3rem;
    text-decoration: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    display: flex; flex-direction: row;
   justify-content: center;
   
}

.paginas {
    background-color: white;
    font-family: 'playfair';
    font-size: 3rem;
    font-weight: 900;
    color:#592C1C ;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    }
    

.card{
    background-color: white;
     color: #592C1C;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 1rem;
     border-radius: 10px;
}

.imagen{
    width: 21vw;
    height: 12vw;
    overflow: hidden;
    border-radius: 1px;
    
}

.imagen img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}



.title {
    background-color: white;
    font-family: 'playfair';
    font-size: 3rem;
    font-weight: 910;
    color:#592C1C ;
    text-decoration: underline;
}

.nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70vh;
    background-color: #592C1C;
    align-items: center;
    justify-items: center;
    
}

.nosotros__grid {
    padding: 2rem;
}

.nosotros h3 {
    background-color: #592C1C;
    color: white;
}

.nosotros p {
    font-size: 2rem;
    color: white;
}

.nosotros__imagen {
height: 100%;
width: 100%;
}

.nosotros img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
footer{
    margin: 1rem;
    font-size: 32px;
}
/* pag 1 */
.card-main {
  /* background-color: #592C1C; */
}

.carta-title{
  font-family: 'playfair';
  color: white;
}

.container mt-5 {
    background-color: #592C1C;
}


.carta h2 {
    background-color: #592C1C;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    align-items: center;
    text-decoration: underline;
   
}

navbar {
    background-color: #EDCB54;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
  }

  .navbar-logo {
    font-family: 'playfair';
    font-size: 2.5rem;
    text-decoration: none;
    color: #592C1C;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
  }


  .navbar .menu {
    grid-column: 4 / 7;
    display: flex;
  }
  .navbar ul li {
    font-family: 'playfair';
    font-size: 1.5rem;
    color: #592C1C;
    margin-right: 8em;
    list-style: none;
  }
  
  .navbar ul li a {
    color: #592C1C;
  }

  .navbar a:hover {
    color: #592C1C;
  }
  .navbar .menu-bar {
    display: none;
  }

  

/* pag 2 */
navbar {
    background-color: #EDCB54;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
  }

  .navbar-logo {
    font-family: 'playfair';
    font-size: 2.5rem;
    text-decoration: none;
    color: #592C1C;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
  }


  .navbar .menu {
    grid-column: 4 / 7;
    display: flex;
  }
  .navbar ul li {
    font-family: 'playfair';
    font-size: 1.5rem;
    color: #592C1C;
    margin-right: 8em;
    list-style: none;
  }
  
  .navbar ul li a {
    color: #592C1C;
  }

  .navbar a:hover {
    color: #592C1C;
  }
  .navbar .menu-bar {
    display: none;
  }

.card__redes {
    background-color: white;
    font-family: 'playfair';
    font-size: 2rem;
    font-weight: 900;
    min-height: 10rem;
    color:#592C1C ;
    display: flex;
    justify-content: left;
    text-decoration: underline;
}

.redes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15vh;
}

.redes img {
    max-width: 100%;
    height: 100%;
}

    .card__footer h2 { 
    background-color: white;
    color: #592C1C;
 }

/* pag 3 */
navbar {
    background-color: #EDCB54;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
  }

  .navbar-logo {
    font-family: 'playfair';
    font-size: 2.5rem;
    text-decoration: none;
    color: #592C1C;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
  }


  .navbar .menu {
    grid-column: 4 / 7;
    display: flex;
  }
  .navbar ul li {
    font-family: 'playfair';
    font-size: 1.5rem;
    color: #592C1C;
    margin-right: 8em;
    list-style: none;
  }
  
  .navbar ul li a {
    color: #592C1C;
  }

  .navbar a:hover {
    color: #592C1C;
  }
  .navbar .menu-bar {
    display: none;
  }

@media (max-width:300px){
    .navbar {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        align-items: center;
    }
    .navbar .logo {
        height: 60px;
        width: 60px;
        grid-column: 2/3;
        
    }
    
    .navbar menu {
        grid-column: 4/7;
        display: flex;
    }

    .navbar ul li {
    margin-right: 3em;
    list-style: none;
    }

    .navbar ul li a {
        text-decoration: none;
        cursor: pointer;
    }

    .navbar .menu-bar{
        display: none;
    }

    .banner {
        height: 60px;
        width: 60px;
        grid-column: 2 / 3;
    }

    .card {
       grid-template-columns: 1fr;
        font-size: 1em;
        cursor: pointer;
    }
    
    .paginas {
        font-size: 1.2em;
    }

    .nosotros {
        grid-template-columns: 1fr;
    }

    .nosotros img {
        grid-template-columns: 1fr;
        
    }

    .redes {
       grid-template-columns: 1fr; 
    }
}

@media (max-width:900px)  {
    .banner > p {
font-size: 1.5rem;
    }
  
    .nosotros {
        grid-template-columns: 1fr;   
    }

    /* .nosotros img {
        grid-template-columns: 1fr;
        
    } */
}