@font-face {
    font-family: 'playfair';
    src: url(./font/PlayfairDisplay-MediumItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'playfair';
    grid-column: 4 / 7;
    background-color: #592C1C;
    color: white;
}

header{
    background-color: white;
    align-items: center;
    display: flex;  
    justify-content: center;
    height: 7rem;
    position: sticky;
    top: 0;
}


.navegation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    font-size: 30px;
}
.navegation ul{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.navegation ul li a{
    color: #592C1C; 
    border-bottom: solid 2px;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    background-image: url(./imagenes/parallax.jpg);
    height: 93vh;
    background-size: cover;
    background-attachment: fixed;
}



.banner h1{
   font-family:'playfair';
   font-size: 5rem;
   letter-spacing: 3px;
   color: white;

}

.banner p{
    font-size: 3rem;
    letter-spacing: 4px;
    color: white;
}



.dc{
    font-size: 2rem;
    text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
}

.logo {
    font-family: 'playfair';
    color: #592C1C;
    font-size: 3rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    display: flex; flex-direction: row;
   justify-content: center;
   
}

.paginas {
    background-color: white;
    font-family: 'playfair';
    font-size: 3rem;
    font-weight: 900;
    /* min-height: 15rem; */
    color:#592C1C ;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    }
    

.card{
    background-color: white;
     color: #592C1C;
     /* height: 16rem;
     width: 21vw; */
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 1rem;
     border-radius: 10px;
}

.imagen{
    width: 21vw;
    height: 12vw;
    overflow: hidden;
    border-radius: 1px;
    
}

.imagen img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}



.title {
    background-color: white;
    font-family: 'playfair';
    font-size: 3rem;
    font-weight: 910;
    color:#592C1C ;
    text-decoration: underline;
}

.nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70vh;
    background-color: white;
    align-items: center;
    justify-items: center;
    
}

.nosotros__grid {
    padding: 2rem;
}


.nosotros p{
    font-size: 2rem;
    color: #592C1C;
}

.nosotros__imagen {
height: 100%;
width: 100%;
}

.nosotros img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}



/* pag 3 */
.card__body{
    font-family: 'playfair';
    display: grid;
    background-color: white;
    color: #592C1C;
}
.card__redes {
    background-color: white;
    font-family: 'playfair';
    font-size: 2rem;
    font-weight: 900;
    min-height: 10rem;
    color:#592C1C ;
    display: flex;
    justify-content: left;
    text-decoration: underline;
}

.redes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15vh;
}

.redes img {
    max-width: 100%;
    height: 100%;
}

    .card__footer h2 { 
    background-color: white;
    color: #592C1C;
 }

footer{
    margin: 1rem;
    font-size: 32px;
}

@media (max-width:300px){
    header {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        align-items: center;
    }
    .navegation {
        grid-column: 4 / 7;
        display: flex;
    }
    
    .navegation ul {
    margin-right: 3em;
    list-style: none;
    }

    .navegation ul li a {
        text-decoration: none;
        cursor: pointer;
    }

    .banner {
        height: 60px;
        width: 60px;
        grid-column: 2 / 3;
    }

    .card {
       grid-template-columns: 1fr;
        font-size: 1em;
        cursor: pointer;
    }
    
    .paginas {
        font-size: 1.2em;
    }

    .nosotros {
        grid-template-columns: 1fr;
    }

    .nosotros img {
        grid-template-columns: 1fr;
        
    }

    .redes {
       grid-template-columns: 1fr; 
    }
}

@media (max-width:900px)  {
    .banner > p {
font-size: 1.5rem;
    }
  
    .nosotros {
        grid-template-columns: 1fr;   
    }

    /* .nosotros img {
        grid-template-columns: 1fr;
        
    } */
}