.footer__grid-container  {
    text-decoration: none;
    color: black;
  }

  .footer__grid-list {
    text-decoration: none;
    color: black;
  }

  .footer__rrss{
    text-decoration: none;
    color: black;
  }